<!-- top quote -->
<div class="top-container">
  <!-- angular's pipes for capitalizing 1st letter of each word-->
  <h2 class="gradient-color">{{ getQuote() | titlecase }}</h2>
  <!-- DatePipe  -->
  <p>Current date: {{ currentDate | date: "medium" }}</p>
</div>

<div class="imgs-container">
  <!-- using ngFor directive for looping through all the images stored in the app's class -->
  <app-post
    *ngFor="let img of images; let i = index"
    [img]="img"
    (imgSelected)="logImg($event)"
    ><p>House {{ i }}</p></app-post
  >
</div>

<div class="details-container">
  <h3>Some details to consider</h3>
  <ul>
    <!-- writing expression in the template -->
    <li>Min application age: {{ 10 + 1 }}</li>
    <!-- CurrencyPipe -->
    <li>Annual tution fee: {{ cost | currency: "GBP" }}</li>
    <!-- DecimalPipe -->
    <li>
      Min required pts to pass an exam: {{ testResult | number: "1.2-5" }} MP
    </li>
  </ul>
</div>

<hr class="gradient-color" />

<div class="bottom-images-container">
  <div class="img-url-container">
    <!-- event and property binding keyup, value -->
    <input
      class="url-input"
      type="text"
      placeholder="New image URL"
      (keyup)="changeImage($event)"
      [value]="imgUrl"
    />

    <!-- We have defined an alias prop name (img) in the child component and passed element between component tags to be rendered-->
    <app-post [img]="imgUrl" (imgSelected)="logImg($event)"
      ><p>Welcome to Hogwarts</p></app-post
    >
  </div>
  <div class="magic-img-btn-container">
    <!-- shortcut for adding ng-template with ngIf directive; img and text appear once the condition is satisfied -->
    <div *ngIf="ptsToGrif" class="magic-image-container">
      <img src="../assets/dubledore.png" alt="" />
      <p>50 pts to Gryffindor</p>
    </div>
    <button
      (click)="ptsToGrif = !ptsToGrif"
      [ngClass]="{ lightenbg: ptsToGrif }"
      [ngStyle]="{ 'font-size.px': fontSize }"
      class="color-toggle-btn"
    >
      Click for Magic
    </button>
  </div>
</div>

<!-- // Notes from prev lectures, not used in final output \\ -->

<!-- * ng-template with ngIf for conditional rendering -->
<!-- <ng-template ngIf="lightClass">
  <p>Btn is cool</p>
</ng-template> -->

<!-- * angular pipe examples -->
<!-- pipe for capitalizing all the characters -->
<!-- <h1>Hello {{ name.toUpperCase() }}</h1> -->
<!-- pipe for converting data to json format-->
<!-- <pre>
    {{ characters | json }}
  </pre> -->
<!-- pipe for formatting date input -->
<!-- <p>Date: {{ currentDate | date: "dd/LL/y h:m:s" }}</p> -->

<!-- * using variables in component template -->
<!-- <img src="{{ imgUrl }}" alt="" /> -->

<!-- * property binding -->
<!-- <img [src]="imgUrl" alt="" /> -->
<!-- child component, with property binding for passing the value from the parent to child -->
<!-- <app-post [postImg]="imgUrl"></app-post> -->
