img {
  width: 100%;
  height: auto;
  transition: all 1s;
  opacity: 0.6;
  border-radius: 20px;
}

/* pseudo selector for surrounding component around the template */
:host {
  /* width: auto;
  height: auto; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background-image: linear-gradient(
    120deg,
    rgba(196, 196, 196, 1),
    rgba(196, 196, 196, 0.1)
  );
  padding: 1rem;
  border: none;
  overflow: hidden;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px 0 #aaa; */
}

:host img:hover {
  transform: scale(1.5);
  opacity: 1;
  border-radius: 20px;
}
